
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #121212;
    color: white;
    text-align: center;
}


.header {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    padding: 30px;
}


.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    background: #1f1f1f;
    padding: 15px;
}

.menu a {
    text-decoration: none;
}


.content {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
}


.info {
    background: #1f1f2e;
    margin: 25px 0;
    padding: 20px;
    border-radius: 15px;
}


h1, h2, h3 {
    color: #FFA500;
}

.status { color: lime; font-weight: bold; }
.development { color: yellow; font-weight: bold; }
.note { color: grey; font-weight: bold; }
.thingy { color: pink; font-weight: bold; }
.discord { color: cyan; font-weight: bold; }
.creator { color: orange; font-weight: bold; }
.creator2 { color: red; font-weight: bold; }


button {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    transition: 0.15s ease;
}

button:hover {
    background: #ADD8E6;
}

button:active {
    transform: scale(0.95);
}


.back-btn {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
}
.app-only {
    display: none;
}

